# Virtual environment
barcode-env/

# Python cache
src/barcadia/__pycache__/
src/barcadia/tools/__pycache__/

# Python build files
src/barcadia.egg-info/
dist/

# Test-related files
test_cases.txt
test/
test_runner.py

# Benchmark-related files
benchmark_output/
benchmark_runner.py

# OS files
.DS_Store